form
{
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	align-items: center;
	padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem;
}

input[type="submit"] 
{
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover
   {
    background-color: #3e8e41;
  }
  
  label 
  {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  h1
  {
    align-items: center;
    display: flex;
  }



